<div class="blog-content">
    <div class="blog-content-personal">
        <div class="blog-personal-date">
            <h4>{{ post.published_at|date:"d b Y" }}</h4>
        </div>
        <div class="blog-personal-img">
            {% if post.author.avatar %}
                <img src="{{ post.author.avatar.url }}">
            {% endif %}
        </div>
        <div class="blog-personal-name">
            <p>{{ post.author.name }}
            <div class="blog-personal-appointment">
                <span>{{ post.author.appointment }}</span>
            </div>
        </div>
    </div>
    <div class="blog-content-about">
        {% if post.image %}
            <a href="{% url 'blog:post' slug=post.url %}" class="blog-about-img">
                <img src="{{ post.image.url }}">
            </a>
        {% endif %}
        <div class="blog-about-title">
            <h2><a href="{% url 'blog:post' slug=post.url %}">{{ post.title }}</a></h2>
        </div>
        <div class="blog-about-text">
            {{ post.short_description|safe }}
        </div>
        <div class="blog-about-views">
            <ul>
                <li>
                    <i class="fa fa-tag" aria-hidden="true"></i>
                    {% for tag in post.tags.all %}
                        <a href="{% url "blog:tag" tag_slug=tag.slug %}">{{ tag.title }}{% if not forloop.last %}, {% endif %}</a>
                    {% endfor %}
                </li>
                <li>
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    <p>{{ post.views_count }}</p>
                </li>
            </ul>
        </div>
    </div>
</div>