@import "variables";
@import "mixins";

$fontSize: 18px;

&.post {
    padding-top: 40px;
    padding-bottom: 20px;
    .post-title {
        h1 {
            font-size: 40px;
            font-weight: 300;
            line-height: 1.41667;
            color: $black;
        }
        ul {
            display: flex;
            justify-content: space-between;
            li {
                display: flex;
                list-style: none;
                align-items: center;
                i {
                    color: $color_emerald_approx;
                    font-size: 20px;
                    padding-right: 10px;
                }
                p {
                    color: $color_gunsmoke_approx;
                    @include transition(.25s);
                    font-size: $fontSize $fontSize $fontSize $fontSize;
                    line-height: 1.55556;
                }
                span {
                    font-size: $fontSize;
                    line-height: 1.55556;
                    color: $color_gunsmoke_approx;
                }
            }
        }
    }
    .post-content {
        padding-top: 18px;
        text-align: left;
        img {
            max-width: 100%;
        }
        h2 {
            margin-top: 24px;
            padding-bottom: 8px;
            font-size: 24px;
            font-weight: 300;
            line-height: 1.25;
            color: $black;
            &:first-child {
                margin-top: 0;
            }
        }
        h3 {
            margin-top: 24px;
            padding-bottom: 8px;
        }
        .post-content-img {
            padding-top: 55px;
            width: 870px;
            margin: 0 auto;
            img {
                width: 100%;
            }
        }
        pre {
            padding-bottom: 8px;
        }
        .post-content-about {
            pre {
                font-size: 0.9em;
            }
            table {
                width: 100%;
                border-left: 1px solid silver;
                border-top: 1px solid silver;
                td, th{
                    padding: 0.25em;
                    border-right: 1px solid silver;
                    border-bottom: 1px solid silver;
                    overflow: hidden;
                }
                th {
                    background-color: #ececec;
                    text-align: center;
                }
                margin-bottom: 8px;
            }

            padding-top: 15px;
            h3 {
                font-size: $fontSize;
            }
            ul {
                padding-left: 20px;
            }
            p, li {
                padding-bottom: 8px;
                padding-top: 8px;
                color: $color_shark_approx;
                letter-spacing: .02em;
                line-height: 1.55556;
                font-size: $fontSize;
                font-weight: 300;
            }
            li {
                p {
                    &:first-child {
                        padding-top: 0;
                    }
                    &:last-child {
                        padding-bottom: 0;
                    }
                }
            }
        }
        .post-content-text {
            p, li {
                line-height: 1.4;
                font-size: 24px;
                color: $color_shark_approx;
                font-weight: 300;
            }
        }
    }
    .post-btns {
        padding-top: 30px;
        ul {
            display: flex;
            justify-content: space-between;
            li {
                list-style: none;
                align-items: center;
                margin-right: 30px;
                a {
                    text-decoration: none;
                    display: flex;
                    font-size: 16px;
                    align-items: center;
                    margin-right: 10px;
                    line-height: 24px;
                    color: $white;
                    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
                    @include transition(0.25s);
                    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
                    border-radius: 30px;
                    text-align: right;
                    letter-spacing: 0.12em;
                    position: relative;
                    z-index: 2;
                    min-width: 190px;
                    padding-right: 20px;
                    &:before {
                        content: '';
                        position: absolute;
                        left: 10%;
                        width: 0;
                        height: 100%;
                        z-index: -1;
                        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
                        @include transition(0.25s);
                    }
                    i {
                        margin-right: 10px;
                        font-size: 30px;
                        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
                        border-radius: 50px 0 0 50px;
                        border-right: none;
                        display: flex;
                        width: 50px;
                        height: 50px;
                        align-items: center;
                        justify-content: center;
                    }
                    &:hover:before {
                        width: 90%;
                        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
                        border-radius: 30px;
                    }
                }
                &.facebook a {
                    background-color: $color_san_marino_approx;
                    border: 2px solid $color_san_marino_approx;
                    &:before {
                        background-color: $color_chambray_approx;
                    }
                    i {
                        background-color: $color_chambray_approx;
                        border: 2px solid $color_chambray_approx;
                        margin-right: 22px;
                    }
                }
                &.vk a {
                    background-color: $color_san_marino_approx;
                    border: 2px solid $color_san_marino_approx;
                    &:before {
                        background-color: $color_blue_bayoux_approx;
                    }
                    i {
                        background-color: $color_blue_bayoux_approx;
                        border: 2px solid $color_blue_bayoux_approx;
                        margin-right: 45px;
                    }
                }
                &.twitter a {
                    background-color: $color_cerulean_approx;
                    border: 2px solid $color_cerulean_approx;
                    &:before {
                        content: '';
                        background-color: $color_cerulean_approx;
                    }
                    i {
                        background-color: $color_cerulean_approx;
                        border: 2px solid $color_cerulean_approx;
                        margin-right: 35px;
                    }
                }
            }
        }
    }
    .post-link {
        padding-top: 35px;
        a {
            text-decoration: none;
            color: $color_pacific_blue_approx;
            //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
            @include transition(.25s);
            line-height: 1.55556;
            font-weight: 300;
            font-size: $fontSize;
            &:hover {
                color: $color_emerald_approx;
            }
        }
    }
}