//colors
$color_iron_approx: rgb(209, 210, 214);
$color_ghost_approx: rgb(206, 207, 212);
$color_aluminium_approx: rgb(170, 173, 182);
$color_santas_gray_approx: rgb(153, 157, 168);
$color_mirage_approx: #1b1f25;
$color_shady_lady_approx: #a8a8a8;
$white: #ffffff;
$color_french_gray_approx: #b9bcc3;
$color_cape_cod_approx: #3b4048;
$color_catskill_white_approx: #f2f3f9;
$color_silver_sand_approx: #c2c2c3;
$color_gunsmoke_approx: #838386;
$color_mountain_mist_18_approx: rgba(150, 150, 150, 0.18);
$color_pacific_blue_approx: #0796c6;
$color_emerald_approx: #50e590;
$black_17: rgba(0, 0, 0, 0.17);
$color_steel_blue_approx: #337ab7;
$color_shark_approx: #25252c;
$color_gallery_approx: #ededed;
$black: black;
$color_san_marino_approx: #4d70a8;
$color_chambray_approx: #3e5a86;
$color_blue_bayoux_approx: #426082;
$color_cerulean_approx: #02bcf3;

//fonts
$Lato: Lato;
$SansSerif: sans-serif;

//urls
$img_header: url(../img/header.jpg);
$img_m1: url(../img/m1.jpg);
$img_m11: url(../img/m11.jpg);
$img_m2: url(../img/m2.jpg);
$img_m22: url(../img/m22.jpg);
$img_m3: url(../img/m3.jpg);
$img_m33: url(../img/m33.jpg);
$img_Layer_3: url(../img/Layer-3.png);
$img_Layer_2: url(../img/Layer-2.png);
$img_m5: url(../img/m5.jpg);
$img_m55: url(../img/m55.jpg);
$img_m6: url(../img/m6.jpg);
$img_m66: url(../img/m66.jpg);